

.card__content{
  width: 95%;
  max-width: 450px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient( #09132c,#5F3E7A); */
  box-shadow: 0px 0px 2.5px white;
}

.card__img{
  z-index: 10;
  display: block;
  margin-top: -150px;
  margin-bottom: -10px;
  width: 320px;
  height: 320px;
}

.card__container-text{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.card__title{
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;

}

.fa-circle{
  font-size: .7rem;
}

.card__type-container{
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  list-style: none;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.card__type{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  width: 160px;
  height: 45px;
  border-radius: 10px;
}

.card__type-img{
  width: 25px;
}

.card__estadisticas{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 0px 0px 20px;
}


.card__altura{
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
}

.card__peso{
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
}

.card__altura-icon{
  font-size: 1.5rem;
}

.card__peso-icon{
  font-size: 1.5rem;
}

.card__icon{
  width: 100%;
}


