.redes-icons{
  display: flex;
  flex-direction: row;
  font-size: 2.3em;
  gap: 20px;
  cursor: pointer;
  align-self: center;
}

.fa-brands:hover{
  transform: scaley(.9) scalex(.9);
}

.redes-link{
  color: #ffffff;
}


@media (min-width: 1024px) {

  .redes-icons{
    align-self: flex-start;
  }

  
}