:root{
  --white: #ffffff;
  --black: #000000; 
  --colorv1: hsl(306, 79%, 43%);
}

/* user-select: none;   /* Evita que la imagen sea seleccionada */
/* pointer-events: none; Desactiva los eventos del ratón, como el clic o la selección */

@font-face {
  font-family: 'PokemonSolid';
  src: url('fonts/Pokemon\ Solid.ttf') format('truetype');
}

*{
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body{
  font-family: "League Spartan", serif;
  background-color: var(--black);
  /* user-select: none; */
  /* overflow: hidden; */
}

.container{
  width: 90%;
  margin: 0px auto;
  padding: 20px 0px;
}

.main{
  position: relative;
  max-width: 1400px;
  display: grid;
  margin: 0px auto;
  grid-template-rows: repeat(6fr, max-content);
  grid-template-areas: 
  "home"
  "pokedex"
  "search"
  "cards"
  "pages"
  "footer"
  ;
}


.home{
  grid-area: home;
  width: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-radius: 0px 0px 60px 60px;
}

.pokedex{
  position: relative;
  grid-area: pokedex;
  width: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
}

.search{
  position: relative;
  grid-area: search;
  width: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.tipo{
  width: 100%;
  height: 60px;
  background-color: rgba(37, 34, 34, 0.592);
  border: 1px solid white;
  border-radius: 10px;
  gap: 10px;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 2rem;
  margin-bottom: 10px;
}


.card{
  grid-area: cards;
  width: 95%;
  color: var(--white);
  padding: 80px 0px 0px;

}

.pages{
  grid-area: pages;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 40px 0px 30px;
}



/* //////////////////////////////////////// */

/* Comienzo del css scroll */

.scroll{
  position: fixed;
  margin-right: 10px;
  margin-bottom: 20px;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 10px;
  background: linear-gradient( #73088a,#1c021750);
  box-shadow: 0px 0px 3px white;
  color: var(--white);
  width: 45px;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  opacity: 100%;
  
}

/* Finalización del css scroll */


/* Especiales del css */

.poison{
  background-color: #AA66CC;
  box-shadow: 0px 0px 5px black;
}

.ghost{
  background-color: #6666CC;
  box-shadow: 0px 0px 5px black;
}

.psychic{
  background-color: #843C92;
  box-shadow: 0px 0px 5px black;
}

.normal{
  background-color: #A2A4A2;
  box-shadow: 0px 0px 5px black;
}

.fire{
  background-color: #e21717;
  box-shadow: 0px 0px 5px black;
}

.water{
  background-color: #3C95DD;
  box-shadow: 0px 0px 5px black;
}

.grass{
  background-color: #1b6a1f;
  box-shadow: 0px 0px 5px black;
}

.electric{
  background-color: #FBD216;
  box-shadow: 0px 0px 5px black;
}

.ice{
  background-color: #2CD1F4;
  box-shadow: 0px 0px 5px black;
}

.fighting{
  background-color: #D56C0D;
  box-shadow: 0px 0px 5px black;
}

.ground{
  background-color: #E7B24B;
  box-shadow: 0px 0px 5px black;
}

.bug{
  background-color: #464b18;
  box-shadow: 0px 0px 5px black;
}

.rock{
  background-color: #CAB88A;
  box-shadow: 0px 0px 5px black;
}

.dragon{
  background-color: #0E74CB;
  box-shadow: 0px 0px 5px black;
}

.dark{
  background-color: #60596B;
  box-shadow: 0px 0px 5px black;
}

.steel{
  background-color: #5F92A5;
  box-shadow: 0px 0px 5px black;
}

.fairy{
  background-color: #FB8DEC;
  box-shadow: 0px 0px 5px black;
}

.flying{
  background-color: #698EBE;
  box-shadow: 0px 0px 5px black;
}


/* finalizacion del css */



@media (min-width: 1024px) {

  .card{
    grid-area: cards;
    width: 100%;
    color: var(--white);
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .card__auto-fit{
    width: 100%;
    padding: 0px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(315px, 1fr));
    grid-auto-rows: 520px;
    gap: 20px;
  }

  .card__img{
    margin-top: -20px;
    margin-bottom: 20px;
    width: 230px;
    height: 230px;
  }

  
}